@model IEnumerable<KlantenService_Steam_Framework.Models.Game>

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = "Games";
}


@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                <h1>@_localizer["Games"]</h1>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="tx_games">
                <a asp-action="Details" asp-route-id="@item.Id">
                        <h3>@item.Name</h3><br />
                        <img src="@item.Background_image" alt="background image" height="350px" />
                </a>
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.Games_count)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td> *@
        </tr>
} 
    </tbody>
</table>
